
/* text align - use to align text in left right or center , means display from left centre or mid  
this property does not work on whole page but to its parent element 
means it contaisn itself inside a box made by parent
*/
p{
    /* text-align: left; */
    /* text-align: right; */
    text-align: mid;
}
h1{
    /* text-align: right; */
    text-align: center;
    /* text-decoration: underline; */
    /* text-decoration: overline;
    text-decoration: line-through; */
}

/* text decoration underline - to give line under 
mainly use to remove the underline from links 
*/

/* font weight - tells us how much dark or light a written thing should be 
has 4 type with name -normal bold bolder light 
apart fromt this can be use to give number from 100 to 900 */
/* p{
    font-weight: bold;
    font-weight: 900;
    font-weight: lighter;
} */

/* font family - means giving font style , writing multiple font family ensure that if  one fails then other cna run*/
p{
    font-family: cursive;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* units in css
pixals - 96px in 1 inch  */
/* #p1{
font-size: 25px;
}
#p2{
font-size: 10px;
}
#p3{
font-size: 50px;
} 
#p1{
    line-height: 50px;
}
*/
/* ------------------------text transform --------------------- */
/* to make your contet ussper case or lower case we can use text transform */
/* #p3{
    text-transform: capitalize;
} */
h1{
    text-align: center;
    text-transform: capitalize;
}
*{
    font-family: 'Times New Roman', Times, serif;
}
#outer{
    font-size: 10px;
}
#inner{
    font-size: 25px;
}