/* transition enable you to define state of an elementt       */

/* transition-property:property you want to transition (font size width etc)
transition duration:2s,4ms..
transition-timing-function:ease in ,eae out step()
transition-delay 2s  
transition shorthand 
propertyname|duration|timing-function|delay
*/
div{
    background-color: pink;
    height: 100px;
    width: 200px;
    transition: all;
    transition-duration: 2s;
    transition-timing-function: steps(3);
    transition-delay: 2s;
}
div:hover{
    background-color: red;
}